# Generated contracts
contracts/rental/*.txt
contracts/rental/*.json
contracts/service/*.txt
contracts/service/*.json

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
